/* Radar.css */
.radar-container {
  text-align: center;
}

.radar {
  position: relative;
  width: 400px; /* Ajusta este valor según tus necesidades */
  height: 400px; /* Ajusta este valor según tus necesidades */
  margin: 0 auto;
  background-color: #f0f0f0;
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
}

.user-location {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.target {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

.logout-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333;
}

.logout-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
