header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(45deg, #000000, #800080); /* Degradado de negro a morado */
  color: white;
  width: 100%; /* Asegura que el header ocupe todo el ancho de la pantalla */
  position: fixed; /* Fija el header en la parte superior */
  top: 0; /* Posiciona el header en la parte superior */
  left: 0; /* Alinea el header al borde izquierdo */
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Genera una sombra */
}

header h1 {
  background: linear-gradient(80deg, #00FFFF, #00FF00, #00BFFF, #008080, #7B68EE, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center; /* Centra los elementos del nav verticalmente */
  gap: 2rem; /* Aumentar el espacio entre elementos */
  padding: 0; /* Eliminar padding predeterminado */
  margin: 0; /* Eliminar margin predeterminado */
  margin-left: 45vh; /* centrar los elementos de seleccion */ 
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative; /* Establece la posición relativa para los enlaces */
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Posiciona la barra debajo del texto */
  width: 0;
  height: 2px; /* Grosor de la barra */
  background-color: #00FFFF; /* Color de la barra */
  transition: width 0.3s ease-in-out; /* Añade transición a la anchura */
}

nav a:hover::after,
.is-current a::after {
  width: 100%; /* Anima la barra para que crezca al 100% cuando se pasa el mouse o está activo */
}

.nav-slide-enter {
  width: 0;
}

.nav-slide-enter-active {
  width: 100%; /* Animación de izquierda a derecha */
  transition: width 0.3s ease-in-out; /* Añade transición a la anchura */
}

.nav-slide-exit {
  width: 100%;
}

.nav-slide-exit-active {
  width: 0; /* Animación de derecha a izquierda */
  transition: width 0.3s ease-in-out; /* Añade transición a la anchura */
}
body {
  margin-top: 200px; /* Ajusta el margen superior del cuerpo para evitar que el contenido se oculte detrás del header */
  margin-bottom: 200px;
}

