/* Historial.module.css */
.timelineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f0f0f0; /* Color de fondo para mejor visibilidad */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    position: relative; /* Añadido para el posicionamiento del contenido */
  }
  
  .timelineContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./graduation_cap.png') no-repeat center center;
    background-size: contain; /* Ajusta el tamaño de la imagen */
    opacity: 0.1; /* Ajusta la opacidad según sea necesario */
    z-index: -1; /* Coloca la imagen detrás del contenido */
  }
  
  h2 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Cursive', sans-serif;
    margin-bottom: 2rem;
    animation: fadeInDown 0.5s ease-out;
  }
  
  .timelineContainer:hover {
    transform: scale(1.05);
    opacity: 1; /* Aumenta la opacidad al pasar el mouse */
  }
  
  .timeline {
    position: relative;
    width: 80%;
    max-width: 900px;
    padding: 2rem 0; /* Añadir un poco de padding vertical */
  }
  
  .timelineEvent {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 2rem 0;
  }
  
  .timelineEvent .left,
  .timelineEvent .right {
    width: 45%;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    opacity: 0.8; /* Valor inicial de opacidad */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .timelineContainer:hover .timelineEvent {
    opacity: 1; /* Opacidad completa al pasar el mouse */
  }
  
  .timelineEvent .left:hover,
  .timelineEvent .right:hover {
    transform: scale(1.1);
  }
  
  .timelineEvent .left {
    text-align: right;
    left: -55%;
  }
  
  .timelineEvent .right {
    text-align: left;
    right: -55%;
  }
  
  .timelineEvent .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #800080;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    top: 50%; /* Centra el punto verticalmente */
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    background: #800080;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
  
  .eventContent {
    padding: 0.5rem;
    color: #333;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  