.progressBarContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Agrega margen inferior para separación */
}

.progressBar {
  width: 300px;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: purple; /* Cambia el color de la barra de progreso */
  width: 0%; /* Inicializa el ancho en 0% */
  transition: width 1s ease; /* Agrega una transición para animar el cambio de ancho */
}

.label {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  font-size: 14px;
  width: 50px;
}