/* Projects.module.css */

.projectsContainer {
    margin-top: 20px;
    padding: 20px;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .middleColumn {
    grid-row: span 3; /* Hace que el elemento ocupe 3 filas */
  }
  
  .projectItem {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .projectItem img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .projectOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .projectItem:hover .projectOverlay {
    opacity: 1;
  }
  
  .projectOverlay h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
  
  .modal {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    top: 70px;
    right: 20px;
    cursor: pointer;
    width: 40px; 
    height: 40px; 
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .close:hover {
    background-color: #999;
    color: white;
  }
  