.technologiesContainer {
    margin-top: 20px;
    padding: 20px;
  }
  
  .slider {
    width: 80%;
    margin: 0 auto;
  }
  
  .techItem {
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex; /* Añade display: flex */
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    justify-content: center; /* Centra verticalmente los elementos */
  }
  

  
  .techDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .imgIcon {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .progressBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  